<%= form_tag(apparels_path, method: "GET") do %>
	<%= text_field_tag :filter, params[:filter] %>
	<%= button_tag :search %>
<% end %>
<div>
	<% @apparels.each do |a| %>
		<%= render_apparel a %>
	<% end %>
</div>